/*
.patt-holder{
	background:#3382c0;
	-ms-touch-action:none;
}
*/

.patt-wrap{
	position:relative;
	cursor:pointer;
}
.patt-wrap li,.patt-wrap ul{
	list-style:none;
	margin:0;
	padding:0
}
.patt-circ{
	position:relative;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.patt-circ.hovered{
	border:3px solid #090;
}
.patt-error .patt-circ.hovered{
	border:3px solid #BA1B26
}
.patt-hidden .patt-circ.hovered{
	border:0;
}
.patt-dots,.patt-lines{
	border-radius:5px;
	height:10px;
	position:absolute
}
.patt-dots{
	background:#FFF;
	width:10px;
	top:50%;
	left:50%;
	margin-top:-0.3em;
	margin-left:-0.3em
}
.patt-lines{
	background:rgba(255,255,255,.7);
	transform-origin:5px 5px;
	-ms-transform-origin:5px 5px;
	-webkit-transform-origin:5px 5px
}
.patt-hidden .patt-lines{display:none}


.mhn-ui-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 30px auto 0;
	border-color: red;
	border-width: 1px;
}
/*
.mhn-ui-wrap:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .4)
}
*/

.mhn-lock-wrap .mhn-lock-title {
    text-align: center;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, .5) */
}
/*
.mhn-lock-wrap .mhn-lock-success {
    color: transparent;
    text-shadow: none
}

.mhn-lock-wrap .mhn-lock-failure {
    color: #f34235
}
*/
.mhn-lock {
    margin: auto;
    background: 0 0
}
.patt-wrap {
    margin: auto;
    overflow: hidden
}
.patt-wrap li {
    -webkit-transition:all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s
}

.patt-dots,
.patt-lines {
    -webkit-transition:background .1s ease-in-out 0s;
    transition: background .1s ease-in-out 0s
}
.patt-circ {
    border: 3px solid transparent
}

/* Color de los puntos */
.patt-dots {
	height:0.5em;
	width:0.5em;
	border-radius: 0.3em;
    background: rgba(120, 184, 255, 0.8) 
}
/* Color de lineas de trazo */
.patt-lines {
    background: rgba(120, 184, 255, .4)
}
/* Color de línea y fondo en los circulos */
.patt-circ.hovered {
    border-color: #3366ff;
    background: rgba(120, 184, 255, .2)
}

/*
.patt-error .patt-circ.hovered {
    background: rgba(243, 66, 53, .4);
    border-color: rgba(243, 66, 53, .8)
}
.patt-error .patt-lines {
    background: rgba(243, 66, 53, .5)
}

.patt-success .patt-circ.hovered {
    background: rgba(75, 174, 79, .4);
    border-color: rgba(75, 174, 79, .8)
}
.patt-success .patt-lines {
    background: rgba(75, 174, 79, .5)
}
*/


.patt-circ:nth-child(1),
.patt-circ:nth-child(2),
.patt-circ:nth-child(3) {
    -webkit-animation: fadeInUp .4s;
            animation: fadeInUp .4s
}
.patt-circ:nth-child(4),
.patt-circ:nth-child(5),
.patt-circ:nth-child(6) {
    -webkit-animation: fadeInUp .6s;
            animation: fadeInUp .6s
}
.patt-circ:nth-child(7),
.patt-circ:nth-child(8),
.patt-circ:nth-child(9) {
    -webkit-animation: fadeInUp .8s;
            animation: fadeInUp .8s
}

/*
.mhn-ui-icon span {
    -webkit-animation: zoomIn .6s;
            animation: zoomIn .6s
}
.mhn-ui-bottom-btn {
    -webkit-animation: bounceInUp .8s;
            animation: bounceInUp .8s
}
.mhn-ui-credit-list .mhn-ui-credit:nth-child(1) {
    -webkit-animation: fadeInUp .4s;
            animation: fadeInUp .4s
}
.mhn-ui-credit-list .mhn-ui-credit:nth-child(2) {
    -webkit-animation: fadeInUp .5s;
            animation: fadeInUp .5s
}
.mhn-ui-credit-list .mhn-ui-credit:nth-child(3) {
    -webkit-animation: fadeInUp .6s;
            animation: fadeInUp .6s
}
.mhn-ui-credit-list .mhn-ui-credit:nth-child(4) {
    -webkit-animation: fadeInUp .7s;
            animation: fadeInUp .7s
}
.mhn-ui-credit-list .mhn-ui-credit:nth-child(5) {
    -webkit-animation: fadeInUp .8s;
            animation: fadeInUp .8s
}
*/