<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.facturalion"
        version   = "1.0.0">
		<preference name="phonegap-version" value="3.7.0" />
    	<name>Facturalion</name>
    	<description>
        Sistema la emisión de facturas.
    	</description>

    <author href="http://www.computadoraspc.com" email="sistemas.cdcomdemexico@gmail.com">
        Ing. Luis Alvaro Rincón Saldaña.
    </author>
	
    <icon src="images/icon/android/icon.png" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.network-information" />	
	
</widget>
