<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.computadoraspc.facturalion"
	version     = "2.0.3"
	versionCode = "1.0.3">

	<preference name="phonegap-version" value="3.7.0" />

	<name>Facturalion</name>

	<description>
		Sistema de facturación electrónica (SAT).
	</description>

	<author href="http://www.computadoraspc.com" email="sistemas.cdcomdemexico@gmail.com">
		Luis Alvaro Rincón Saldaña
	</author>

	<plugin name="org.apache.cordova.dialogs" spec="0.3.0" source="pgb" />
	<plugin name="org.apache.cordova.file-transfer" spec="0.5.0" source="pgb" />
    
	
</widget>